.content{
    margin-top: 75px;
}

[contenteditable] {
    outline: 0px solid transparent;
}
.google-logo{
    width: 300px;
}
.search-bar{
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 900px;
}
.icon{
    position: relative;
    left: 15px;
    top: 15px;
    color: gray;
    font-weight: 100;
    font-size: 20px;
}
.input{
    position: relative;
    top: 10px;
    text-align: left;
    width: 90%;
}
.btn, .btn-secondary{
    background-color: #f8f9fa !important;
    color: #000 !important;
    border: 1px solid #dadce0 !important;
}
.btn, .btn-secondary:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
}